:root {
    --white: #FFFFFF;
    --default-blue: #5786FF;
    --border-blue: #35ACEF;
    --black-variant-1: #474545;
    --black-trans-18: #00000022;
    --black-input-field-text-color: #615858;
    --close-btn-text-color: #090909;
    --close-btn-border-color: #1D1C1C;
    --close-btn-bg-color: #FAF8F8;
}

@font-face {
    font-family: comfortaa-r;
    src: url("../fonts/static/Comfortaa-Regular.ttf");
}
@font-face {
    font-family: comfortaa-b;
    src: url("../fonts/static/Comfortaa-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    font-family: comfortaa-r , monospace;
}

.flex {
    display: flex;
}
.flex-x-c, .flex-x-y-c {
    justify-content: center;
}
.flex-x-y-c {
    align-items: center;
}

.main-cont {
    width: 100%;
    height: auto;
    padding: 6% 10px;
    flex-flow: wrap column;
}
/*
.section-1 {
}
*/
.intro-text {
    margin-top: 40px;
    color: var(--black-variant-1);
    text-align: center;
}

.section-1 , .intro-text , .index-form {
    width: max-content;
}

.index-form {
    padding: 20px;
}
input {
    color: var(--black-input-field-text-color);
}
input , .swal-text {
    font-family: monospace;
}
.input {
    padding: 7px;
    margin-top: 20px;
    height: 28px;
    width: 90vw;
    min-width: 190px;
    border-radius: 5px;
}
.input , .input:focus , .swal-text {
    border: 1px solid var(--border-blue);
    outline: none;
}
.input , .intro-text , .swal-text {
    max-width: 210px;
}

button.input , .swal-button--confirm , .swal-button--retry {
    background-color: var(--default-blue);
    color: var(--white);
}
button:disabled {
    opacity: 0.5;
    outline: none;
}
button.input:hover {
    opacity: 0.9;
    outline: 3px solid var(--black-trans-18);
}
.swal-text {
    font-size: small;
    height: 18px;
    overflow: hidden;
    border-radius: 0.8px;
}

@media only screen and (max-width:600px) {
    .main-cont {
        padding: 16% 10px;
    }
}